@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*-------------------------###-----------------------------*/
/*----------------------home page--------------------------*/
/*-------------------------###-----------------------------*/
.home{
    display: flex;
    background: black; /*optional image background*/
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
}