@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --rosa-claro: #F7CAC9;
    --vermelho: #FF5E5E;
    --branco: #FFFFFF;
    --cinza-claro: #ECECEC;
    --azul-claro: #AED6F1;
    --rosa-suave: #F5D0D0;
    --verde-suave: #D4ECD4;
    --amarelo-suave: #F2E8C4;
    --lilas-suave: #E6D4F7;
    --azul-suave: #D1EAF0;
    --lilas-claro: #A293FF;
    --azul-escuro: #0B0D23;
    --azul-destaque: #8AD3E2;
  }
/*-------------------------###-----------------------------*/
/*----------------------home page--------------------------*/
/*-------------------------###-----------------------------*/
.home{
    display: flex;
    background: #000000;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    height: 100vh;
    gap: 10rem;
     
}

.home span{
    color: #FFFFFF;
    font-weight: bold;
}

.home-title{
    color: rgb(255, 255, 255);
    margin-left: 18rem;
    margin-top: 13rem;
    font-weight: bold;
    font-size: 30px;

}
.home-title h3{
    color: #38BDF8;
}
.home-title h4{
    color: #38BDF8;
    font-size: 18px;
}

.home-title span{
    font-size: 45px;
    font-weight: bold;
}

/* .home span{
    color: var(--azul-destaque);
    text-shadow:0 0 30px var(--azul-destaque), 
                0 0 40px var(--azul-destaque);
} */

.window{
    display: flex;
    width: 55rem;
    height: 30rem;
    background-color: black;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #8AD3E2;
}


@media (max-width: 970px){
    .home{
        margin: auto;
    }
    .home-title{
        margin-left: 8rem;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }
    
    .home-title span{
        font-size: 30px;
        font-weight: bold;
    }
}
@media (max-width: 850px){
    .home{
        margin: auto;
    }
    .home-title{
        margin-left: 5rem;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }
    
    .home-title span{
        font-size: 30px;
        font-weight: bold;
    }
}