/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
:root{
  --rosa-claro: #F7CAC9;
  --vermelho: #FF5E5E;
  --branco: #FFFFFF;
  --cinza-claro: #ECECEC;
  --azul-claro: #AED6F1;
  --rosa-suave: #F5D0D0;
  --verde-suave: #D4ECD4;
  --amarelo-suave: #F2E8C4;
  --lilas-suave: #E6D4F7;
  --azul-suave: #D1EAF0;
  --preto: #000000;
}
/*NAVBAR*/
.navbar {
  background-color: var(--azul-suave);
  width: 100vw;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  padding: 1rem;
}

.navbar .max-width{
  display: flex;
  margin-left: 3.5rem;
  align-items: center;
  justify-content: space-between;
}
/*LOGO PORTFOLIO*/
.navbar .logo a, span{
  color: var(--preto);
  font-size: 35px;
  font-weight: 500;
}
/*LOGO COLOR GREEN AND WHITE*/
.navbar .logo .link-a{
  color: #77EB3D;
}
.navbar.sticky .logo span{
  color: #fff;
}
/*STYLE LINKS NAVBAR*/
.navbar .menu .link{
  color: var(--preto);
  list-style: none;
  display: inline-block;
}
.navbar .menu .link{
  color: var(--preto);
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease; /*colored text on hover*/
}
.navbar .menu :hover{
  color: #77EB3D; /*color of the text hover*/
}
.navbar.sticky .menu link:hover{
  color: #fff; /*reset color to white*/
}


/*MOBILE MENU*/
.menu-btn{
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  display:inline;
}


/*RESPONSIVE*/
@media (max-width: 947px){
  .max-width{
      padding: 0 50px;
  }
  .navbar .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    left: 0;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .logo{
    margin-left: -5rem;
  }
  .navbar .menu .link{
    display: block; 
    z-index: 999;
}
  .navbar .menu .link{
      margin: 20px 0;
      font-size: 25px; 
  }
}