/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
:root{
  --rosa-claro: #F7CAC9;
  --vermelho: #FF5E5E;
  --branco: #FFFFFF;
  --cinza-claro: #ECECEC;
  --azul-claro: #AED6F1;
  --rosa-suave: #F5D0D0;
  --verde-suave: #D4ECD4;
  --amarelo-suave: #F2E8C4;
  --lilas-suave: #E6D4F7;
  --azul-suave: #D1EAF0;
  --preto: #000000;
  --lilas-claro: #A293FF;
  --azul-escuro: #0B0D23;
  --azul-destaque: #8AD3E2;
}

html {
  scroll-behavior: smooth;
}

/*NAVBAR*/
.navbar {
  background-color: #000000;
  width: 100vw;
  height: 12vh;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  padding: 1rem;
  position: fixed;
}


.navbar .max-width{
  display: flex;
  margin-left: 3.5rem;
  align-items: center;
  justify-content: space-between;
}
a{
  cursor: pointer;
}
/*LOGO PORTFOLIO*/
.navbar .logo a{
  color: var(--branco);
  font-size: 35px;
  font-weight: 500;
}
/*LOGO COLOR GREEN AND WHITE*/
.navbar .logo .link-a{
  color: var(--azul-destaque);
}

/*STYLE LINKS NAVBAR*/
.navbar .menu a{
  color: var(--branco);
  list-style: none;
  display: inline-block;
}
.navbar .menu a{
  color: var(--branco);
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease; /*colored text on hover*/
}

.navbar.sticky .menu a:hover{
  color: #fff; /*reset color to white*/
}

/*Line animation navbar*/
.link {
  position: relative;
  text-decoration: none;  
}
.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--azul-destaque);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*MOBILE MENU*/
.menu-btn{
  color: var(--branco);
  font-size: 26px;
  cursor: pointer;
  display:inline;
  display: none;
}



/*RESPONSIVE*/
@media (max-width: 970px){
  .max-width{
      padding: 0 50px;
  }
  .navbar .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100%;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
    background-color: var(--azul-suave);
    transform: translateX(-100%);
    transition: all .45s;
  }
  .navbar .menu.open{
    transform: translateX(0);
  }
  .navbar .menu > a::before{
    background: transparent;
  }
  .logo{
    margin-left: -5rem;
  }
  .navbar .menu a{
    display: block;
    color: var(--branco); 
}
  .navbar .menu a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px; 
  }
  .menu-btn{
    color: var(--azul-escuro);
    display: block;
    z-index: 999;
  }
  .navbar .menu.open{
    transform: translateX(100%);
  }
}
@media (max-width: 650px){
  .navbar .logo a{
    color: var(--azul-escuro);
    font-size: 25px;
    font-weight: 500;
  }
  .menu-btn{
    font-size: 25px;
  }
}




/************************************/
/*NAVBAR LETTER PAGE*/
/************************************/
.navbarres {
  width: 100vw;
  height: 12vh;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  padding: 1rem;
  position: absolute;
}
.navbarres .max-width{
  display: flex;
  margin-left: 3.5rem;
  align-items: center;
  justify-content: space-between;
}
a{
  cursor: pointer;
}
/*LOGO PORTFOLIO*/
.navbarres .logo a, span{
  color: var(--branco);
  font-size: 35px;
  font-weight: 500;
}
/*LOGO COLOR GREEN AND WHITE*/
.navbarres .logo .link-a{
  color: var(--azul-destaque);

}
/*STYLE LINKS NAVBAR*/
.navbarres .menu a{
  color: var(--branco);
  list-style: none;
  display: inline-block;
}
.navbarres .menu a{
  color: var(--branco);
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease; /*colored text on hover*/
}
.navbarres .menu :hover{
  color: var(--azul-destaque); /*color of the text hover*/
}
.navbarres.sticky .menu a:hover{
  color: #fff; /*reset color to white*/
}

/*RESPONSIVE*/
@media (max-width: 970px){
  .max-width{
      padding: 0 50px;
  }
  .navbarres .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100%;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
    background-color: var(--azul-suave);
    transform: translateX(-100%);
    transition: all .45s;
  }
  .navbarres .menu.open{
    transform: translateX(0);
    background-color: var(--azul-escuro);
  }
  .navbarres .menu > a::before{
    background: transparent;
  }
  .logo{
    margin-left: -5rem;
  }
  .navbarres .menu a{
    display: block;
    color: var(--branco); 
}
  .navbarres .menu a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px; 
  }
  .menu-btn{
    color: var(--branco);
    display: block;
    z-index: 999;
  }
  .navbarres .menu.open{
    transform: translateX(100%);
  }
}
@media (max-width: 650px){
  .navbarres .logo a, span{
    color: var(--branco);
    font-size: 25px;
    font-weight: 500;
  }
  .menu-btn{
    font-size: 25px;
  }
}