:root{
  --rosa-claro: #F7CAC9;
  --vermelho: #FF5E5E;
  --branco: #FFFFFF;
  --cinza-claro: #ECECEC;
  --azul-claro: #AED6F1;
  --rosa-suave: #F5D0D0;
  --verde-suave: #D4ECD4;
  --amarelo-suave: #F2E8C4;
  --lilas-suave: #E6D4F7;
  --azul-suave: #D1EAF0;
  --lilas-color:#9966eb;
  --vermelho: #c95656;
}
.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: var(--azul-suave);
  background-image: linear-gradient(var(--azul-suave)0% 20%, var(--vermelho) 60% 60%, var(--azul-suave) 95% 100%);
}
.resume{
  padding: 1rem;
  font-weight: bold; 
  text-align: center;
  font-size: 13px;
  background-color: var(--azul-suave);
  color: black;

  margin-top: 75px;
}
.notes{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.text{
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--rosa-claro);
  width: 650px;
  height: 150px;
  color: black;
}
.text p{
  text-align: justify;
  color: black;
}
.text-2{
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--rosa-claro);
  width: 550px;
  height: 80px;
  color: black;
}
.text-2 p{
  text-align: justify;
}

.events{
  margin: 1rem auto;
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
  justify-content: center;
  color: black;
}

.item01{
  justify-self:auto;
  width: 25rem;
  height: 11rem;
  border-radius: 1.5rem;
  border: 1px solid var(--cinza-claro);
  background-color: var(--azul-claro);
  padding: 1rem;
  color: black;
}
.item02{
  justify-self:auto;
  width: 25rem;
  height: 22rem;
  border-radius: 1.5rem;
  border: 1px solid var(--cinza-claro);
  background-color: var(--azul-claro);
  padding: 1rem;
  color: black;
}
p{
  font-size: 0.8rem;
  text-align: center;
  color: black;
}
.item01 h1{
  font-weight: bold;  
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline rgb(0, 0, 0); 
}
.item02 h1{
  font-weight: bold;  
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline rgb(0, 0, 0); 
}
.item01 p{
  margin-top: 0.3rem;
}

.item02 p{
  margin-top: 0.3rem;
}

.item02 .yes{
  color: #FF5E5E;
  font-weight: bold;
}

.opn{
  font-weight: bold;
}

.item02 .pontuacao{
 text-align: left;
}
/*CORACAO PAGINA*/
.heart {
  margin: 25px;
  background-color: red;
  height: 25px;
  transform: rotate(-45deg);
  width: 25px;
  position: relative;
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}
.heart:before {
  top: -12.5px;
}
.heart:after {
  left: 12.5px;
}

.align-heart{
  display: flex;
  align-items: center;
  margin-left: 20%;
}

@media (max-width: 947px){
  .item01{
    justify-self:auto;
    width: 20rem;
    height: 10rem;
    border-radius: 1.5rem;
    border: 1px solid var(--cinza-claro);
    background-color: var(--azul-claro);
    padding: 1rem;
  }
  .text{
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--rosa-claro);
    width: 80vw;
    height: 35vh;
    text-align: justify;
  }
  .text{
    margin: 10px;
    width: 350px;
    height: 250px;
  }
  .text-2{
    margin: 10px;
    width: 350px;
    height: 100px;
  }
}